@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>Cadastro Medico</h4>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
         
        </p>
        <p><a class="btn btn-default" href="http://localhost:60637/Medico">Cadastro &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>